*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --app-rows: 5;
    --app-cols: 5;
}

.app{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(var(--app-rows), 0fr);
    grid-template-columns: repeat(var(--app-cols), 0fr);
    overflow: hidden;
}

.grid-item{
    border: 1px solid gray;
    width: 25px;
    height: 25px;
}

.alive{
    background: green;
}

.menu{
    position: absolute;
}

.btn{
    padding: 10px;
    width: 100px;
    border: 1px solid;
    opacity: 90%;
    border-radius: 10px;
}